# CONFIG_RT_USING_SMP is not set
CONFIG_RT_CPUS_NR=1
CONFIG_ARCH_RAM_OFFSET=0x40000000
CONFIG_ARCH_HEAP_SIZE=0x4000000
CONFIG_RT_USING_DM=y
CONFIG_RT_USING_DMA=y
CONFIG_RT_USING_OFW=y
CONFIG_RT_USING_DEVICE=y
CONFIG_RT_USING_DEVICE_IPC=y
CONFIG_RT_USING_ETHERNET=y
CONFIG_RT_USING_VIRTIO=y
CONFIG_BSP_USING_VIRTIO_NET=y
CONFIG_RT_USING_NETDEV=y
CONFIG_NETDEV_USING_AUTO_DEFAULT=y
CONFIG_RT_USING_SAL=y
CONFIG_RT_USING_TASK123_SERVER=y
CONFIG_RT_USING_THREADSAFE_PRINTF=y
CONFIG_SAL_USING_LWIP=y
CONFIG_RT_USING_LWIP=y
CONFIG_RT_USING_LWIP_LOCAL_VERSION=y
# CONFIG_RT_USING_LWIP203 is not set
CONFIG_RT_USING_LWIP212=y
CONFIG_RT_USING_LWIP_VER_NUM=0x20102
# CONFIG_RT_LWIP_DHCP is not set
CONFIG_RT_LWIP_IPADDR="192.168.77.30"
CONFIG_RT_LWIP_GWADDR="0.0.0.0"
CONFIG_RT_LWIP_MSKADDR="255.255.255.0"
CONFIG_RT_LWIP_UDP=y
CONFIG_RT_LWIP_TCP=y
CONFIG_RT_LWIP_DNS=y
CONFIG_RT_LWIP_UDP_PCB_NUM=8
CONFIG_RT_LWIP_TCPTHREAD_STACKSIZE=8192
